{% extends "base.html"%}
{% block content %} 
<div class="grid gap-0 row-gap-3">
    <center>
    <div class="p-2 g-col-6">Change Password</div>
  </center>
  {%if alert_message%}
    <script>
        alert("{{alert_message}}");
    </script>
    {% endif %}
  </div>
    <div class="container-sm">
    <div class="bd-content ps-lg-2">
        <form  method="post" autocomplete="off">
          {% csrf_token %}
        <div class="form-floating mb-3" >
            <input type="password" class="form-control" id="current_password" name="current_password" placeholder="Enter Current Password" required>
            <label for="current_password">Enter Current Password</label>
          </div>
          <div class="form-floating mb-3" >
            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Enter New Password" required>
            <label for="new_password">Enter New Password</label>
          </div>
          <div class="form-floating mb-3" >
            <input type="password" class="form-control" id="new_password2" name="new_password2" placeholder="Enter New Password Again" required>
            <label for="new_password2">Enter New Password Again</label>
          </div>
          <button type="submit" value='Post' class="btn btn-primary">Submit</button>
        </form> 
    </div>

</div>
{% endblock%}
