{%extends "base.html"%}
{% block content %} 
{% load static%}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <!-- Main css link -->
<br>

<body>

    <!-- Table Ariya -->
  
    <section class="Table-secton">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="table-design">
              <table class="table">
                <thead class="tebal-head">
                  <tr class="t-head">
                    <th scope="row">Fast name</th>
                    <th>Last name</th>
                    <th>Aga</th>
                    <th>Country</th>
                    <th>Gender</th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="h">
                    <th scope="row">Dinanath</th>
                    <td>Barman</td>
                    <td>19</td>
                    <td>India</td>
                    <td>Male</td>
                  </tr>
                  <tr id="h">
                    <th scope="row">Akeswar</th>
                    <td>Barman</td>
                    <td>20</td>
                    <td>India</td>
                    <td>Male</td>
                  </tr>
                  <tr id="h">
                    <th scope="row">Susmita</th>
                    <td>Das</td>
                    <td>30</td>
                    <td>USA</td>
                    <td>Famle</td>
                  </tr>
                  <tr id="h">
                    <th scope="row">John</th>
                    <td>Das</td>
                    <td>30</td>
                    <td>USA</td>
                    <td>Male</td>
                  </tr>
                  <tr id="h">
                    <th scope="row">Dav</th>
                    <td>Roy</td>
                    <td>30</td>
                    <td>USA</td>
                    <td>male</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- finis table ariya -->
  
    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  </body>
  
{%endblock%}
