<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="" method="post">
    {% csrf_token %}
    <input type="text" name="name_surname" id="name_surname" placeholder="name"> <br>
    <input type="text" name="email" id="email" placeholder="enter email"> <br>
    <input type="text" name="subject" id="subject" placeholder="subject"> <br>
    <input type="text" name="message" id="message" placeholder="message">
    <button>Send</button>
    </form>

</body>
</html>